* {
    color: white;
}

.mainPage {
    margin-left: 20%;
    width: 60%;
}

.topPage {
    background-color: #171717;
    max-width: 840px;
    width: 60%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.topPage h2 {
    margin-left: 1rem;
    font-size: 35px;
}

.topPage a {
    margin-right: 1rem;
    border: none;
    background-color: transparent;
}

.topPage svg {
    fill: white !important;
}

.postsDiv {
    margin-top: 5rem;
    height: 95%;
}
