.cards {
    display: flex;
    gap: 1rem;
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
}

#profilePictureCard {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.cards ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    align-items: center;
}

.cards li {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contentCard {
    width: 100%;
}

.cards li p {
    font-size: 15px;
}

.cards article img {
    width: 100%;
    border-radius: 15px;
    margin-top: 1rem;
}

.cards ol {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-top: 0.5rem;
}

.cards article h2 {
    margin-top: 0.3em;
    margin-bottom: 0.3rem;
}

.cards article span {
    color: #fe9900;
}

.cards article p {
    font-size: 20px;
}
