header {
  height: 100vh;
  width: 30vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li:hover,
a:hover {
  color: rgba(254, 153, 0, 1);
  transition: 0.5s;
}

header img {
  width: 100%;
}

nav {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  text-decoration: none;
}
