header {
    height: 100vh;
    width: 20vw;
    background-color: black;
    position: fixed;
    top: 0;
}

li:hover,
a:hover {
    color: rgba(254, 153, 0, 1);
    transition: 0.5s;
}

header img {
    width: 25rem;
}
