main {
    margin: 0 auto;
}

.accountStyle {
    /* display:flex; */
    width: 105vh;
    height: 400vh;
    margin-left: 36vh;
    margin-top: 8vh;
    /* border: solid rgb(105, 111, 223); */
}

.image-fond {
    align-items: center;
    height: 30vh;
    width: 105vh;
    /* background-color: blueviolet; */
    /* border: solid rgb(187, 22, 22); */

}

.image-fond img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.flexinfo {
    display: flex;
    /* background-color: aliceblue; */
}

.infoPerso {
    width: 30vh;
    height: 120vh;
    /* border: solid white; */
    text-align: center;

    /* background-color: aliceblue; */
}

.infoPerso ul {
    font-size: 2vh;

}

.image-profil {

    width: 25vh;
    height: 25vh;
    margin-left: 2vh;
    margin-top: 1vh;
    border-radius: 10%;
    /* border: solid rgb(203, 237, 52); */
    background-color: rgb(202, 239, 115);


}

.image-profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.stats ul {
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 77vh;
    font-size: 2vh;
    margin-top: 1vh;
    text-align: center;
    /* border: solid rgb(203, 237, 52); */
    
}


div .stats {
    width: 75vh;
    
}

.postsDiv .cards {
      width: 100%;
  height: 130vh;
  object-fit: cover; 
  display: block; 
}
.contentCard {
        width: 100%;
  height:2vh;
  object-fit: cover; 
  display: block; 
}

.bouttonFollow{
    width:11vh;
    height: 5vh;
}

/* ol{
    margin-bottom: 1vh;
} */



